/* Custom tambahan khusus login */
input {
    transition: all 0.2s ease-in-out;
}

button:active {
    transform: scale(0.98);
}

/* Mematikan total ikon mata bawaan browser agar tidak kembar */
input::-ms-reveal,
input::-ms-clear {
    display: none !important;
}